%article{bem: {block: :grid, modifiers: [:medium]}}
	%div
		%h4
			%i.material-icons input
			Forms
		%p Beautiful, consistent form controls that don't compromise browser accessibility.
	%div
		%h4
			%i.material-icons grid_on
			Grid
		%p
			An "Implicit Grid" created using flexbox. Just a single class to create a grid.
	%div
		%h4 
			%i.material-icons text_format
			Typography
		%p
			All elements and components align perfectly to the baseline grid.
%article{bem: {block: :grid, modifiers: [:medium]}}
	%div
		%h4
			%i.material-icons style
			PostCSS
		%p Easily customize the default variables and include only the files you need.
	%div
		%h4
			%i.material-icons tab
			BEM
		%p
			The BEM Methodology is used for naming conventions, because it's simple and flexible.
	%div
		%h4
			%i.material-icons event_note
			Shorthand
		:markdown
			Includes `bem_html` and `postcss-bem` for simple and rapid Block creation.
%section.wrapper-small
	%h3.ta-center Get Started!
	
	:markdown
		Read more about [Cutestrap](https://www.cutestrap.com/). Read more about [`bem_html`](https://github.com/oncomouse/bem_html). Read more about [`postcss-bem`](https://github.com/ileri/postcss-bem).
	